<div id="howto">
  <h2>How to use this grid</h2>
  <p>
  The grid allows you to apply multiple filters to find the exact player you're looking for. This can be done multiple ways. From the 'Query' modal-box or directly from the filter-toolbar. Additionally, there are several columns/data-points on which queries can be made. You can choose to show/hide these columns based on the type of player you are looking for.
  </p>
  <h3>Main buttons</h3>
  <p>
  The 3 main buttons here are 1: Query - which takes you to the query-modal-box. 2: Reset, which resets all filters that you may have applied and 3. The show/hide columns button which lets you select the columns you would like to see.
  </p>
  <%= image_tag("buttons.png") %>

  <h3>Query</h3>
  <p>
  The Query modal box lets you specify multiple filters and conditions to fine tune your search. You can choose to find players that meet 'all' filters (logical-AND) or 'any' of the filters you specify (logical-OR).
  Additionally, for each of the filters you can choose the conditions that apply based on the data-type. For instance, numeric datatypes let you select, equals, not-equals, greater than and lesser than. And alphabetical fields let you perform word-matching queries.
  </p>
  <%= image_tag("query.png") %>

  <h3>Toolbar</h3>
  <p>
  The Filter-Toolbar lets you perform the same queries without without having to enter the 'Query' section. Simply set the filters at the top of the toolbar and hit enter.
  </p>
  <%= image_tag("toolbar.png") %>

  <h3>Show/Hide Columns</h3>
  <p>
  If you're looking for a goalkeeper, you may not be interested in Goals and Assists but may be looking for data-points like Clean Sheets and Penalties saved. You can select columns of your choice by hitting the 'Show/Hide columns button' and then selecting the columns you're interested in by checking/unchecking the respective checkboxes.
  </p>
  <%= image_tag("columns.png") %>

  <h3>Pagination</h3>
  <p>
  You can select how many results you would like to see on each page by using the drop down menu. Additionally you can jump forward and backward to any page you're looking for by using the controls here.
  </p>
  <%= image_tag("pagination.png") %> 
  <br/><br/>

</div>
